*{
padding: 0;
margin: 0;

}
body{
    background: url(../Imagenes/fondo\ registro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.centro{
    background: url(../Imagenes/FondoContacto2.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 500px;
    padding: 0;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 37, 85);
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 3px 7px rgba(255, 255, 255,.5);
    
}
.seccontacto{
    background: url(../Imagenes/FondoContacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 30px;
    align-items: center;

}
.Credencial{
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 30px;
    
}
.logo{
    animation: animate 2s linear infinite;
    -webkit-animation: animate 2s linear infinite;
}
span{
    width: 100px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    position: relative;
    left: 43%;
    top: 5px;


}

@keyframes animate {
    100% {
      filter: hue-rotate(360deg);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
